
    <div class="formBox">
      <form name="newMeal" ng-submit="formSubmit()">
        <fieldset class="form-group">
          <h3>Enter details for meal {{mealCount + 1}}</h3>
          <label for="price">Base Meal Price: $</label>
          <input type="text" class="form-control" name="price" placeholder="0.00" ng-model="meal.price"></input><br>
          <label for="tax">Tax Rate: %</label>
          <input type="text" class="form-control"name="text" placeholder="0.00" ng-model="meal.tax"></input><br>
          <label for="tip">Tip Percentage: %</label>
          <input type="text" class="form-control" name"tip" placeholder="0.00" ng-model="meal.tip"></input><br>
          
          <button class="btn btn-default"type="submit">Add Meal</button><button ng-model="cancel" class="btn btn-default">Cancel</button>
        </fieldset>
      </form>  
    </div>